@media (max-width: 1200px) {
    .hideOnMobile{display: none;}
    .menu-btn{display: block;}
}
@media (max-width: 1084px) {
    .sidebar {
      margin-top: 20px;
      left: 45%;
      transform: translate(-50%, -50%);
    }
}
  @media(max-width: 400px) {
    .sidebar{width: 100%;}
  }
@media (max-width: 1000px) {
    #nav-links> li {
        border-left: none;
        padding-left: 0;
    }
    #container-contact{
        display: block;
    }
    .text{
        padding-bottom: 40px;
    }
}
@media (max-width: 1300px) {
    #container-2{
        display: flex;
        flex-direction: column;
        border-left: none;
        border-right: none;
    }
    .blog{
        width: 100%;
        margin: 100px;
    }
    /*Subscribe*/
.subscribe{
    margin-top: 20px;
   
}
    
    .content-container-image img{
        width: 200px; /* Smaller image size for left alignment */
        height: 300px;
        object-fit: cover;
        border-right: 1px solid #000;
        cursor: pointer;
    }
    .gallary-image{
        width: 100%;
    }
    .form input{
        padding-top: 10px;
        margin-top: 10px;
        width: 100%;
        outline: none;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media (max-width: 650px) {
    #container-2{
        display: flex;
        flex-direction: column;
        border-left: none;
        border-right: none;
    }
    .blog{
        width: 100%;
        margin: 100px;
    }
    .content-container{
        max-width: 60%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; 
        margin-top: 30px;
    }
    .content-container-image img{
        width: 100%; /* Smaller image size for left alignment */
        height: auto;
        object-fit: cover;
        border-right: 1px solid #000;
        cursor: pointer;
    }
    .content-container-text{
        margin-top: 50px;
        padding-left: 30px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
}
@media (max-width:985px ) {
    .blog h2{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 7px;
    }
    .pick,.text_1,.likes,.content-likes,.content-container-text span,
    #subs,.form{
        display: none;
    }
    .content-container-text pre{
        padding-bottom: 50px;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9em;
    }
    .content-container-text strong{
        font-size: 25px;
    }

    .about-1 .about_image img{
        display: none;
    }
    .social-nav-2{
        border-bottom: none;
        padding-left: 40px;
    }
}
@media (max-width:580px ) {
    #header2{
        font-size: 30px;
    }
    #header1{
        font-size: 80px;
    }
    .social-nav{
        display: none;
    }
    .post{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .blog h2{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: center;
    }
    .subscribe{
        margin-top: 20px;
        background-color: purple;
        font-size: 18px;

    }
    .pick,.text_1,.likes,.content-likes,.content-container-text span,
    #subs,.form{
        display: none;
    }
    .social-nav-2{
       
        border-bottom: none;
    }

  
}
@media (max-width:350px) {
    .content-container-text pre{
        display: none;
    }
}